<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stamper.yx.common.mapper.mysql.MyApplicationMapper">
    <resultMap id="BaseResultMap" type="com.stamper.yx.common.entity.Applications">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="APPLICATION_ID" property="applicationId" jdbcType="INTEGER"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <result column="TOTAL_COUNT" property="totalCount" jdbcType="INTEGER"/>
        <result column="NEED_COUNT" property="needCount" jdbcType="INTEGER"/>
        <result column="DEVICE_ID" property="deviceId" jdbcType="INTEGER"/>
        <result column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="DELETE_DATE" property="deleteDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,create_date,update_date,delete_date,application_id,title,total_count,need_count,device_id,user_id,user_name
  </sql>
    <insert id="insert" >
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select TJ_APPLICATIONS_SEQ.nextval from dual
        </selectKey>
        insert into tj_applications (<include refid="Base_Column_List"/>)
        values
        (#{id,jdbcType=INTEGER},sysdate,sysdate,null,#{applicationId,jdbcType=INTEGER},#{title,jdbcType=VARCHAR},#{totalCount,jdbcType=INTEGER},#{needCount,jdbcType=INTEGER},#{deviceId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{userName,jdbcType=VARCHAR})
    </insert>
    <update id="update">
        update tj_applications
        <set>
            <if test="updateDate != null">
                update_date = sysdate,
            </if>
            <if test="deleteDate != null">
                delete_date = sysdate,
            </if>
            <if test="createDate != null">
                create_date = sysdate,
            </if>
            <if test="applicationId != null">
                application_id = #{applicationId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="totalCount != null">
                total_count = #{totalCount,jdbcType=INTEGER},
            </if>
            <if test="needCount != null">
                need_count = #{needCount,jdbcType=INTEGER},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
        </set>
        where delete_date IS NULL
        AND id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getByApplicationId" resultType="integer" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            tj_applications
        WHERE
            delete_date IS NULL
            AND application_id = #{applicationId,jdbcType=INTEGER}
--             LIMIT 1
    </select>


</mapper>