<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stamper.yx.common.mapper.mysql.MySignetMapper" >
  <resultMap id="BaseResultMap" type="com.stamper.yx.common.entity.Signet" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="DELETE_DATE" property="deleteDate" jdbcType="TIMESTAMP" />
    <result column="CORP_ID" property="corpId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="NET_TYPE" property="netType" jdbcType="VARCHAR" />
    <result column="ADDR" property="addr" jdbcType="VARCHAR" />
    <result column="COUNT" property="count" jdbcType="INTEGER" />
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="SIM_NUM" property="simNum" jdbcType="VARCHAR" />
    <result column="ICCID" property="iccid" jdbcType="VARCHAR" />
    <result column="IMSI" property="imsi" jdbcType="VARCHAR" />
    <result column="IMEI" property="imei" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="SLEEP_TIME" property="sleepTime" jdbcType="INTEGER" />
    <result column="FINGER_PATTERN" property="fingerPattern" jdbcType="BIT" />
  </resultMap>
    <sql id="Base_Column_List">
    id,create_date,update_date,delete_date,corp_id,name,net_type,addr,count,uuid,sim_num,iccid,imsi,imei,type,status,sleep_time,finger_pattern
    </sql>

  <insert id="insert" parameterType="com.stamper.yx.common.entity.Signet">
      <selectKey keyProperty="id" resultType="int" order="BEFORE">
          select SIGNET_SEQ.nextval from dual
      </selectKey>
      insert into signet (<include refid="Base_Column_List"/>)
        values (#{id,jdbcType=INTEGER},sysdate,sysdate,null,#{corpId,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{netType,jdbcType=VARCHAR},#{addr,jdbcType=VARCHAR},#{count,jdbcType=INTEGER},#{uuid,jdbcType=VARCHAR},#{simNum,jdbcType=VARCHAR},#{iccid,jdbcType=VARCHAR}
        ,#{imsi,jdbcType=VARCHAR},#{imei,jdbcType=VARCHAR},#{type,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{sleepTime,jdbcType=INTEGER},#{fingerPattern,jdbcType=BIT})
    </insert>
  <update id="update" parameterType="com.stamper.yx.common.entity.Signet">
      update signet
      <set>
          <if test="updateDate != null">
              update_date = sysdate,
          </if>
          <if test="deleteDate != null">
              delete_date = sysdate,
          </if>
          <if test="createDate != null">
              create_date = sysdate,
          </if>
          <if test="corpId != null">
              corp_id = #{corpId,jdbcType=VARCHAR},
          </if>
          <if test="name != null">
              name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="netType != null">
              net_type = #{netType,jdbcType=VARCHAR},
          </if>
          <if test="addr != null">
              addr = #{addr,jdbcType=VARCHAR},
          </if>
          <if test="count != null">
              count = #{count,jdbcType=INTEGER},
          </if>
          <if test="uuid != null">
              uuid = #{uuid,jdbcType=VARCHAR},
          </if>
          <if test="simNum != null">
              sim_num = #{simNum,jdbcType=VARCHAR},
          </if>
          <if test="iccid != null">
              iccid = #{iccid,jdbcType=VARCHAR},
          </if>
          <if test="imsi != null">
              imsi = #{imsi,jdbcType=VARCHAR},
          </if>
          <if test="status != null">
              status = #{status,jdbcType=INTEGER},
          </if>
          <if test="sleepTime != null">
              sleep_time = #{sleepTime,jdbcType=INTEGER},
          </if>
          <if test="fingerPattern != null">
              finger_pattern = #{fingerPattern,jdbcType=INTEGER},
          </if>
      </set>
      where delete_date IS NULL
      AND id = #{id,jdbcType=INTEGER}
  </update>
    <delete id="delete">
        UPDATE signet
        SET delete_date = sysdate
        WHERE
            id = #{deviceId,jdbcType=INTEGER}
    </delete>
    <select id="get" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            signet
        WHERE
            delete_date IS NULL
            AND corp_id = #{corpId,jdbcType=VARCHAR}
            AND device_id = #{deviceId,jdbcType=INTEGER}
--         LIMIT 1;
    </select>
    <select id="getAllByCorpId" parameterType="string" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            signet
        WHERE
            delete_date IS NULL
        AND corp_id=#{corpId,jdbcType=VARCHAR}
    </select>
    <select id="getByUUID" parameterType="string" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            signet
        WHERE
            delete_date IS NULL
            and uuid=#{uuid,jdbcType=VARCHAR}
--             LIMIT 1
    </select>
    <select id="getByLike" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          signet
        WHERE
          delete_date is null
        <if test="id!=0 and id !=null">
          AND  id=#{id,jdbcType=INTEGER}
        </if>
        <if test="name!='' and name !=null">
          AND name=#{name,jdbcType=VARCHAR}
        </if>
        <if test="uuid!='' and uuid !=null">
          AND  uuid=#{uuid,jdbcType=VARCHAR}
        </if>
        <if test="corpId!='' and corpId !=null">
          AND  corp_id=#{corpId,jdbcType=VARCHAR}
        </if>
--         LIMIT 1
    </select>
    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
          signet
        WHERE
        delete_date IS NULL
    </select>
    <select id="getById" parameterType="integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
          signet
        WHERE
        delete_date IS NULL
        AND id=#{deviceId,jdbcType=INTEGER}
--         LIMIT 1
    </select>


</mapper>