<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stamper.yx.common.mapper.mysql.MySealRecordInfoMapper">
    <resultMap id="BaseResultMap" type="com.stamper.yx.common.entity.SealRecordInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="DELETE_DATE" property="deleteDate" jdbcType="TIMESTAMP"/>
        <result column="DEVICE_ID" property="deviceID" jdbcType="INTEGER"/>
        <result column="UUID" property="uuid" jdbcType="VARCHAR"/>
        <result column="IDENTITY" property="identity" jdbcType="VARCHAR"/>
        <result column="PICUSERID" property="picUserId" jdbcType="INTEGER"/>
        <result column="LOCATION" property="location" jdbcType="VARCHAR"/>
        <result column="COUNT" property="count" jdbcType="INTEGER"/>
        <result column="APPLICATION_ID" property="applicationID" jdbcType="INTEGER"/>
        <result column="IS_AUDIT" property="isAudit" jdbcType="INTEGER"/>
        <result column="TIME" property="time" jdbcType="VARCHAR"/>
        <result column="SEAL_COUNT" property="sealCount" jdbcType="INTEGER"/>
        <result column="SEAL_ID" property="sealId" jdbcType="INTEGER"/>
        <result column="ALARM" property="alarm" jdbcType="INTEGER"/>
        <result column="FILE_ID" property="fileId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,create_date,update_date,delete_date,device_id,uuid,identity,picUserId,location,count,application_id,is_audit,time,seal_count,seal_id,alarm,file_id
    </sql>

    <insert id="insert" parameterType="com.stamper.yx.common.entity.SealRecordInfo">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEALRECORD_INFO_SEQ.nextval from dual
        </selectKey>
        insert into seal_record_info (<include refid="Base_Column_List"/>)
        values
        (#{id,jdbcType=INTEGER},sysdate,sysdate,null,#{deviceID,jdbcType=INTEGER},#{uuid,jdbcType=VARCHAR},#{identity,jdbcType=VARCHAR},#{picUserId,jdbcType=INTEGER},#{location,jdbcType=VARCHAR},#{count,jdbcType=INTEGER},#{applicationID,jdbcType=INTEGER},#{isAudit,jdbcType=INTEGER}
        ,#{time,jdbcType=VARCHAR},#{sealCount,jdbcType=INTEGER},#{sealId,jdbcType=INTEGER},#{alarm,jdbcType=INTEGER},#{fileId,jdbcType=INTEGER})
    </insert>
    <update id="update" parameterType="com.stamper.yx.common.entity.SealRecordInfo">
        update seal_record_info
        <set>
            <if test="updateDate != null">
                update_date = sysdate,
            </if>
            <if test="deleteDate != null">
                delete_date = sysdate,
            </if>
            <if test="createDate != null">
                create_date = sysdate,
            </if>
            <if test="deviceID != null">
                device_id = #{deviceID,jdbcType=INTEGER},
            </if>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="identity != null">
                identity = #{identity,jdbcType=VARCHAR},
            </if>
            <if test="picUserId != null">
                picUserId = #{picUserId,jdbcType=INTEGER},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="applicationID != null">
                application_id = #{applicationID,jdbcType=INTEGER},
            </if>
            <if test="isAudit != null">
                is_audit = #{isAudit,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=VARCHAR},
            </if>
            <if test="sealCount != null">
                seal_count = #{sealCount,jdbcType=INTEGER},
            </if>
            <if test="sealId != null">
                sealId = #{sealId,jdbcType=INTEGER},
            </if>
            <if test="alarm != null">
                alarm = #{alarm,jdbcType=INTEGER},
            </if>
            <if test="fileId != null">
                file_id = #{fileId,jdbcType=INTEGER},
            </if>
        </set>
        where delete_date IS NULL
        AND id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="delete">
        UPDATE seal_record_info
        SET delete_date = sysdate
        WHERE
            device_id = #{deviceID}
    </delete>

    <select id="getById" parameterType="integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        seal_record_info
        WHERE
        delete_date IS NULL
        AND device_id=#{deviceID,jdbcType=INTEGER}
--         LIMIT 1
    </select>
    <select id="getBydeviceId" parameterType="integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        seal_record_info
        WHERE
        delete_date IS NULL
        AND device_id=#{deviceID,jdbcType=INTEGER}
    </select>
    <select id="getByReal" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        seal_record_info
        WHERE
        delete_date IS NULL
        AND uuid=#{uuid,jdbcType=VARCHAR}
        AND count=#{count,jdbcType=INTEGER}
        <if test="applicationID!=null">
            AND application_id=#{applicationID,jdbcType=INTEGER}
        </if>
    </select>

</mapper>