<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stamper.yx.common.mapper.mysql.MyFingerMapper">
    <resultMap id="BaseResultMap" type="com.stamper.yx.common.entity.Finger">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="device_id" property="deviceId" jdbcType="INTEGER"/>
        <result column="finger_addr" property="fingerAddr" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="delete_date" property="deleteDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,create_date,update_date,delete_date,user_id,user_name,device_id,finger_addr
  </sql>
    <insert id="insert" useGeneratedKeys="true"
            keyProperty="id">
        insert into finger (<include refid="Base_Column_List"/>)
        values
        (#{id},now(),now(),null,#{userId},#{userName},#{deviceId},#{fingerAddr})
    </insert>
    <update id="update">
        update finger
        <set>
            <if test="updateDate != null">
                update_date = NOW(),
            </if>
            <if test="deleteDate != null">
                delete_date = #{deleteDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=INTEGER},
            </if>
            <if test="fingerAddr != null">
                finger_addr = #{fingerAddr,jdbcType=INTEGER},
            </if>

        </set>
        where delete_date IS NULL
        AND id = #{id,jdbcType=INTEGER}
    </update>
    <update id="delAllByDeviceId">
        UPDATE finger
        SET delete_date = NOW()
        WHERE
            device_id =#{deviceId}
    </update>
    <update id="delByFingerAddr">
        UPDATE finger
        SET delete_date = NOW()
        WHERE
            device_id = #{deviceId}
            AND finger_addr=#{fingerAddr}
            AND user_id=#{userId}
    </update>
    <select id="getMaxFingerAddr" resultType="java.lang.Integer">
        SELECT
      	MAX(finger_addr)
        FROM
      	  finger
        WHERE
      	  delete_date IS NULL
        AND device_id = #{deviceId}
--         LIMIT 1
    </select>
    <select id="getByUser" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        finger
        WHERE
        delete_date IS NULL
        AND device_id = #{deviceId}
        AND user_id = #{userId}
        -- LIMIT 1
    </select>
    <select id="getFingerByDevice" parameterType="integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        finger
        WHERE
        delete_date IS NULL
        AND device_id = #{deviceId}
        ORDER BY finger_addr
    </select>
    <select id="getFinger" resultType="com.stamper.yx.common.entity.Finger">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        finger
        WHERE
        delete_date IS NULL
        AND device_id = #{deviceId}
        AND user_id=#{userId}
        AND finger_addr=#{fingerAddr}
    </select>


</mapper>